<!doctype HTML5>
<html>
    <head>
        <title>Meu Blog em Python</title>

    </head>
    <body>
        <div class="pagina">
            <h1>Blog em Python</h1>
            <div class="metanav">
                {% if not session.logado %}
                <a href="{{url_for('login')}}">Login</>
                {% else %}
                <a href="{{url_for('logout')}}">Logout</>
                {% endif %}
            </div>
            {% block corpo %}{% endblock %}
        </div>
    </body>
</html>
